<%- include ("partials/header"); -%>

<h1 class="about">ABOUT</h1>
<p class="par">This is a web app to write daily journal. It has built-in features to edit or delete posts.</p>

<%- include("partials/footer"); -%>